doctype html
html(class="no-js", lang="ru")

	include ../modules/include/include

	head
		+head(head.defaults)
	body
		+header('landing')
		+breadcrumbs(true)
		+landing-content()
		+footer()

	+scripts()
