mixin list-category()
	.list-category
		//- .list-category__column
		.list-category__column
			.list-category-item
				.list-category-item__count 4 005
				a(href="#" title="").list-category-item__link Биография
			.list-category-item
				.list-category-item__count 8 500
				a(href="#" title="").list-category-item__link Боевик
			.list-category-item
				.list-category-item__count 53
				a(href="#" title="").list-category-item__link Драма
			.list-category-item
				.list-category-item__count 897
				a(href="#" title="").list-category-item__link История

		//- top-menu-inside__column
		.list-category__column
			.list-category-item
				.list-category-item__count 4 005
				a(href="#" title="").list-category-item__link Криминал
			.list-category-item
				.list-category-item__count 8 500
				a(href="#" title="").list-category-item__link Мелодрама
			.list-category-item
				.list-category-item__count 53
				a(href="#" title="").list-category-item__link Научная фантастика
			.list-category-item
				.list-category-item__count 897
				a(href="#" title="").list-category-item__link Приключения

		//- top-menu-inside__column
		.list-category__column
			.list-category-item
				.list-category-item__count 4 005
				a(href="#" title="").list-category-item__link Криминал
			.list-category-item
				.list-category-item__count 8 500
				a(href="#" title="").list-category-item__link Спорт
			.list-category-item
				.list-category-item__count 53
				a(href="#" title="").list-category-item__link Триллер
			.list-category-item
				.list-category-item__count 897
				a(href="#" title="").list-category-item__link Комедия

		//- top-menu-inside__column
		.list-category__column
			.list-category-item
				.list-category-item__count 4 005
				a(href="#" title="").list-category-item__link Ужасы
			.list-category-item
				.list-category-item__count 8 500
				a(href="#" title="").list-category-item__link Фильм-катастрофа
			.list-category-item
				.list-category-item__count 53
				a(href="#" title="").list-category-item__link Реальные события
			.list-category-item
				.list-category-item__count 897
				a(href="#" title="").list-category-item__link Экранизация

		//- top-menu-inside__column
		.list-category__column
			.list-category-item
				.list-category-item__count 4 005
				a(href="#" title="").list-category-item__link Фэнтези
			.list-category-item
				.list-category-item__count 8 500
				a(href="#" title="").list-category-item__link Экранизация