mixin row()
	.row
		.row__img
			img(src="http://www.placehold.it/56x56/EFEFEF/AAAAAA" alt="")
		.row__content
			a(href="#" title="").row__link Посторонний / The Intruders (2015) DVD9 | Лицензиянзи
			.row__btn.btn-green.btn-green--small Скачать