.row {
	display: flex;

	box-sizing: border-box;
	width: 295px;
	padding-top: 13px;
	padding-bottom: 10px;
	padding-left: 15px;

	border-top: 1px dashed #d0d0d0;

	align-items: flex-start;
	justify-content: flex-start;
	&:last-child {
		border-bottom: 1px dashed #d0d0d0;
	}
	&__img {
		width: 56px;
		margin-right: 13px;
		img {
			display: block;

			width: auto;
			max-width: 100%;
			height: 56px;
			margin: auto;
		}
	}
	&__content {
		width: 210px;
	}
	&__link {
		display: block;

		margin-bottom: 7px;

		@extend .link;
	}
}
