// Common styles of the project

html,
body {
	height: 100%;

	background: url(%=staticPrefixForCss=%general/bg.png) repeat;

	font-family: "Arial";
	@media screen and (max-width: 1024px) {
		overflow-x: hidden;
	}
}

.wrapper {
	box-sizing: border-box;
	width: 1057px;
	margin: auto;
	padding-right: 40px;
	padding-left: 40px;
}
