@font-face {
    font-family: 'Acrom Bold';
    src: url('../fonts/acrom-bold.eot');
    src: url('../fonts/acrom-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/acrom-bold.woff2') format('woff2'),
         url('../fonts/acrom-bold.woff') format('woff'),
         url('../fonts/acrom-bold.ttf') format('truetype'),
         url('../fonts/acrom-bold.svg#acrombold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Acrom Medium';
    src: url('../fonts/acrom-medium.eot');
    src: url('../fonts/acrom-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/acrom-medium.woff2') format('woff2'),
         url('../fonts/acrom-medium.woff') format('woff'),
         url('../fonts/acrom-medium.ttf') format('truetype'),
         url('../fonts/acrom-medium.svg#acrommedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Acrom Regular';
    src: url('../fonts/acrom-regular.eot');
    src: url('../fonts/acrom-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/acrom-regular.woff2') format('woff2'),
         url('../fonts/acrom-regular.woff') format('woff'),
         url('../fonts/acrom-regular.ttf') format('truetype'),
         url('../fonts/acrom-regular.svg#acromregular') format('svg');
    font-weight: normal;
    font-style: normal;
}