mixin top-menu()
	nav.top-menu
		.top-menu__mobile
		.top-menu__list
			.top-menu-item
				a(href="#" title="").top-menu-item__link Фильмы
			.top-menu-item 
				a(href="#" title="").top-menu-item__link Сериалы
			.top-menu-item 
				a(href="#" title="").top-menu-item__link Музыка
			.top-menu-item 
				a(href="#" title="").top-menu-item__link Софт
			.top-menu-item 
				a(href="#" title="").top-menu-item__link Игры
			.top-menu-item 
				a(href="#" title="").top-menu-item__link Книги
			.top-menu-item 
				a(href="#" title="").top-menu-item__link Документы