.top-menu {
	&__list {
		display: flex;

		align-items: center;
		justify-content: space-between;
	}
}

.top-menu-item {
	margin-right: 24px;
	&.active {
		.top-menu-item__link {
			color: #fff;
			background-color: $orange;
		}
	}
	&__link {
		padding: 8px 10px;

		text-decoration: none;

		color: #161d22;

		font-size: em(16px);
		&:hover {
			color: #fff;
			background-color: $orange;
		}
	}
}