mixin landing-top()
	.landing-top
		.landing-top__title Маленький принц / The Little Prince (2015) BDRip от Twi7ter
		.landing-top__ganre Боевик

		.landing-top-meta
			.landing-top-meta__item.landing-top-meta__item--size 1646 Mb
			.landing-top-meta__item.landing-top-meta__item--downloaded 789
			.landing-top-meta__item.landing-top-meta__item--likes 9879

			.single-meta-author
				.single-meta-author__img
					img(src="http://www.placehold.it/27x27/EFEFEF/AAAAAA" alt="")
				.single-meta-author__name Admin
				.single-meta-author__date (25/05/2015)

		.landing-top-btns
			a(href="#" title="").single-btn.single-btn--green.btn-green.btn-green--landing Скачать

			a(href="#" title="").single-btn.single-btn--torrent.btn-torrent.btn-torrent--landing Скачать .torrent

			.landing-top-virus

		.landing-top-likes
			img(src="%=staticPrefix=%images/content/likes.png" alt="")