mixin block()
	.block
		.block__img
			img(src="http://www.placehold.it/160x160/EFEFEF/AAAAAA" alt="")
			.block-meta
				.block-meta__item.block-meta__item--downloaded 789
				.block-meta__item.block-meta__item--rating 9879
		a(href="#" title="").block__link Безумный Макс: Дорога ярости
		a(href="#" title="").block__btn.btn-green.btn-green--medium Скачать