mixin landing-advantages()
	.landing-advantages
		.landing-advantages__devices

		.landing-advantages-list
			.landing-advantages-list__column
				.landing-advantages-list__item Высокая скорость загрузки файлов, в любое время суток из любой точки мира 
				.landing-advantages-list__item Самая большая база файлов с ежедневным добавлением новинок 
				.landing-advantages-list__item Неограниченное колличество скачиваний 
			.landing-advantages-list__column
				.landing-advantages-list__item Круглосуточная поддержка пользователей 
				.landing-advantages-list__item Все файлы проверены антивирусом и безопасны для запуска 
				.landing-advantages-list__item Самая большая база файлов с ежедневным добавлением новинок 