mixin landing-social()
	.landing-social
		.landing-widget
			img(src="%=staticPrefix=%images/content/vk-widget.png" alt="")
		.landing-comments
			img(src="%=staticPrefix=%images/content/vk-comments.png" alt="")