mixin scripts()
	//- Main scripts. You can replace it, but I recommend you to leave it here
	script(src="https://yastatic.net/jquery/2.2.0/jquery.min.js")
	script(src='%=static=%js/main%=hash=%%=min=%.js')