include ../head/head
include ../header/header
include ../top-menu/top-menu
include ../list-category/list-category
include ../search/search
include ../main-blocks/main-blocks
include ../main-rows/main-rows
include ../registration-block/registration-block
include ../footer/footer

include ../scripts/scripts

include ../block/block
include ../row/row
include ../breadcrumbs/breadcrumbs

include ../single-content/single-content