mixin single-content()
	.single-content
		.single-content__left
			.single-poster
				.single-poster__img
					img(src="http://www.placehold.it/274x386/EFEFEF/AAAAAA" alt="")
				.block-meta
					.block-meta__item.block-meta__item--downloaded 789
					.block-meta__item.block-meta__item--rating 9879

			a(href="#" title="").single-btn.single-btn--green.btn-green.btn-green--single Скачать

			a(href="#" title="").single-btn.single-btn--torrent.btn-torrent.btn-torrent--single Скачать .torrent
		
			.novirus
				.novirus__title Вирусов нет
				.novirus__complain Пожаловаться
				.novirus__date Проверено 26/05/2015

			.single-meta
				.single-meta-row
					.single-meta-row__left Разместил:
					.single-meta-row__right
						.single-meta-author
							.single-meta-author__img
								img(src="http://www.placehold.it/27x27/EFEFEF/AAAAAA" alt="")
							.single-meta-author__name Admin
							.single-meta-author__date (25/05/2015)
				.single-meta-row
					.single-meta-row__left Формат:
					.single-meta-row__right MKV (x264)
				.single-meta-row
					.single-meta-row__left Качество:
					.single-meta-row__right WEBRip 720p
				.single-meta-row
					.single-meta-row__left Видео:
					.single-meta-row__right 2700 kb/s, 1280x536
				.single-meta-row
					.single-meta-row__left Аудио:
					.single-meta-row__right AC3, 128 kb/s (2 ch)
				.single-meta-row
					.single-meta-row__left Размер:
					.single-meta-row__right.single-meta-row__right--green 1.94 GB

			.single-likes
				img(src="%=staticPrefix=%images/content/likes.png" alt="")

		.single-content__right
			h1 Маленький принц / The Little Prince (2015) BDRip от Twi7ter
			.single-genre Боевик

			.single-about
				.single-about__title Информация о файле

				p 
					strong Год выхода: 
					| 2015
				p 
					strong Жанр: 
					| ужасы
				p 
					strong Режиссер: 
					| Ли Уоннелл
				p 
					strong В ролях: 
					| Стефани Скотт, Дермот Малруни, Энгус Сэмпсон, Ли Уоннелл, Лин Шэй, Тейт Берни, Майкл Рид МакКей, Стив Култер, Хейли Кийоко, Корбетт 

				p 
					strong О фильме: 
					| История о том, как одаренный экстрасенс Элис Рейнер неохотно соглашается использовать свои способности для установления связи с мертвыми, чтобы помочь девочке-подростку, которая стала мишенью для опасной сверхъестественной сущности.

				p 
					strong Продолжительность: 
					| 01:37:27
				p 
					strong Озвучивание: 
					| Дублированное [Чистый звук]

			.single-screenshot
				.single-about__title Скриншоты
				img(src="http://www.placehold.it/170x75/EFEFEF/AAAAAA" alt="")
				img(src="http://www.placehold.it/170x75/EFEFEF/AAAAAA" alt="")
				img(src="http://www.placehold.it/170x75/EFEFEF/AAAAAA" alt="")
				img(src="http://www.placehold.it/170x75/EFEFEF/AAAAAA" alt="")

			.single-description
				.single-about__title Описание

				p О самом знаменитом советском сериале "Приключения Шерлока Холмса и доктора Ватсона" сняты десятки документальных фильмов и записаны сотни интервью с его героями и создателями. Однако спустя десятилетия открываются тайны, которые и не снились сыщику всех времён и народов! 

			.single-comments
				img(src="%=staticPrefix=%images/content/vk-comments.png" alt="")

		+main-blocks('Рекомендуем', 4)
